html {
  font-size: 10px; 
  font-family: 'Indie Flower', cursive;
  background-color: hotpink;

}
h1 {
  font-size: 100px;
  text-align: center;
}

p, li, a {
  font-size: 25px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 150px auto;
  background-color: #FF9500;
  padding: 50px 100px 50px 100px;  /* я красава!!!!!!!!! */
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: hotpink;
  text-shadow: 5px 5px 3px black;
}

img {
  display: block;
  margin: 0 auto;
  width: 600px;
}